---
import Divider from "@components/Divider.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import Navbar from "@components/Navbar.astro";
import ScrollTop from "@components/ScrollTop.astro";
import SidebarNav from "@components/SidebarNav.astro";
import SidebarTOC from "@components/SidebarTOC.astro";
import Quote from "@components/Quote.astro";
import Blueprint from "@components/Blueprint.astro";
import OneCompact from "@components/OneCompact.astro";
import { oneWorld } from "@data/oneWorld";
import { oneBudget } from "@data/oneBudget";
import { oneCurrency } from "@data/oneCurrency";
import { oneMindset } from "@data/oneMindset";
import { one } from "@data/one";
---

<BaseLayout
  title="KISS One = One Budget + One Currency + One World = KISS One Mindset"
  description="Everyone Everywhere Alltogether - Everything Everywhere All At Once"
>
  <OneCompact />
  <Quote
    text="„We can't solve problems by using the same kind of thinking we used when we created them.”"
    author="Albert Einstein"
  />
  <div class="ones">
    <Blueprint data={one} captionLink={false} caption="One" />
    <Divider icon="=" />
    <Blueprint data={oneBudget} captionTag="h2" />
    <Divider icon="+" />
    <Blueprint data={oneCurrency} captionTag="h2" />
    <Divider icon="+" />
    <Blueprint data={oneWorld} captionTag="h2" />
    <Divider icon="=" />
    <Blueprint data={oneMindset} captionTag="h2" />
  </div>
  <Navbar>
    <SidebarNav slot="nav" />
    <ScrollTop slot="scroll-top" />
    <SidebarTOC data={oneMindset} slot="toc" />
  </Navbar>
</BaseLayout>˚
