---
import type { ShortThought, Thought, Thoughts } from "../scripts/data";
import BlueprintAnker from "./BlueprintAnchor.astro";
import BlueprintTooltip from "./BlueprintTooltip.astro";

const image = "/everything-everywhere-allatonce.png";

interface Props {
  name: string;
  layer: ShortThought;
  circle: ShortThought;
  intersection: ShortThought;
  arms: Thoughts;
  leftLeg: Thoughts;
  rightLeg: Thoughts;
}

const { name, arms, leftLeg, rightLeg, intersection, circle, layer } =
  Astro.props;
---

<div>
  <h2>{name}</h2>
  <img src={image} width="200" height="200" />
  <BlueprintAnker name="Arms" thought={arms.name} desc={arms.description} />
  <BlueprintAnker
    name="Left Leg"
    thought={leftLeg.name}
    desc={leftLeg.description}
  />
  <BlueprintAnker
    name="Right Leg"
    thought={rightLeg.name}
    desc={rightLeg.description}
  />
  <BlueprintTooltip
    name="Intersection"
    thought={intersection.name}
    desc={intersection.description}
  />
  <BlueprintTooltip
    name="Circle"
    thought={circle.name}
    desc={circle.description}
  />
  <BlueprintTooltip
    name="Layer"
    thought={layer.name}
    desc={layer.description}
  />
</div>

<style>
  div {
    text-align: center;
    margin: 30px;
    margin-bottom: 10px;
  }

  h2 {
    padding-bottom: 0;
    margin-bottom: 0;
  }
</style>
