---
import { slugify } from "@scripts/slugify";
import BlueprintItem from "./BlueprintItem.astro";
import { CaptionTag, SubThoughts, TopThoughts } from "@apptypes/index";

const image = "/one.png";

interface Props {
  data: TopThoughts | SubThoughts;
  base?: string;
  caption?: string;
  captionTag?: CaptionTag;
  captionSize?: string;
  captionLink?: boolean;
}

const {
  data,
  base,
  caption,
  captionTag = "div",
  captionSize = "23px",
  captionLink = true,
} = Astro.props;

const { name, arms, leftLeg, rightLeg, circle, heart, layer } = data;

const Element = captionTag;

let path = "";

if (base) {
  path = `${slugify(base)}#${slugify(name)}`;
} else {
  path = slugify(name);
}
---

<div class="blueprint text-center">
  <Element class="caption">
    {
      captionLink ? (
        <a href={path}>{caption ? caption : name}</a>
      ) : caption ? (
        caption
      ) : (
        name
      )
    }
  </Element>
  <img class="img-one" src={image} />
  <BlueprintItem
    name="Arms"
    type="SubThought"
    thought={arms.name}
    description={arms.description}
    topThought={name}
    base={base}
    showNames={true}
  />
  <BlueprintItem
    name="Left Leg"
    type="SubThought"
    thought={leftLeg.name}
    description={leftLeg.description}
    topThought={name}
    base={base}
    showNames={true}
  />
  <BlueprintItem
    name="Right Leg"
    type="SubThought"
    thought={rightLeg.name}
    description={rightLeg.description}
    topThought={name}
    base={base}
    showNames={true}
  />
  <BlueprintItem
    name="Heart"
    type="MetaThought"
    thought={heart.name}
    description={heart.description}
    showNames={true}
  />
  <BlueprintItem
    name="Circle"
    type="MetaThought"
    thought={circle.name}
    description={circle.description}
    showNames={true}
  />
  <BlueprintItem
    name="Layer"
    type="MetaThought"
    thought={layer.name}
    description={layer.description}
    showNames={true}
  />
</div>

<style define:vars={{ captionSize }}>
  .blueprint {
    margin: 0px 10px;
    min-width: 230px;
  }

  .caption {
    display: block;
    padding-top: 14px;
    padding-bottom: 2px;
    font-size: var(--captionSize);
  }

  .img-one {
    width: 200px;
    height: 200px;
  }
</style>
