---
import type { ShortThought, Thoughts } from "../data/one";
import BlueprintAnker from "./BlueprintAnchor.astro";
import BlueprintTooltip from "./BlueprintTooltip.astro";

const image = "/everything-everywhere-allatonce.png";

interface Props {
  name: string;
  layer: ShortThought;
  circle: ShortThought;
  heart: ShortThought;
  arms: Thoughts;
  leftLeg: Thoughts;
  rightLeg: Thoughts;
}

const { name, arms, leftLeg, rightLeg, heart, circle } = Astro.props;
---

<div>
  <h2>{name}</h2>
  <img src={image} width="200" height="200" />
  <BlueprintAnker
    name="Arms"
    thought={arms.name}
    description={arms.description}
  />
  <BlueprintAnker
    name="Left Leg"
    thought={leftLeg.name}
    description={leftLeg.description}
  />
  <BlueprintAnker
    name="Right Leg"
    thought={rightLeg.name}
    description={rightLeg.description}
  />
  <BlueprintTooltip
    name="Heart"
    thought={heart.name}
    description={heart.description}
  />
  <BlueprintTooltip
    name="Circle"
    thought={circle.name}
    description={circle.description}
  />
  <!--   <BlueprintTooltip
    name="Layer"
    thought={layer.name}
    desc={layer.description}
  /> -->
</div>

<style>
  div {
    text-align: center;
    margin: 40px;
    min-width: 200px;
  }

  h2 {
    padding-top: 14px;
  }
</style>
