---
import { slugify } from "../scripts/slugify";
import { oneThoughts } from "../data/one";
import Divider from "./Divider.astro";

const { OneWorld, OneBudget, OneCurrency, OneMindset } = oneThoughts;
---

<button id="toc-btn"
  ><svg
    xmlns="http://www.w3.org/2000/svg"
    width="50"
    height="50"
    viewBox="0 0 16 16"
    ><path
      fill="currentColor"
      d="M8 1c3.9 0 7 3.1 7 7s-3.1 7-7 7s-7-3.1-7-7s3.1-7 7-7zm0-1C3.6 0 0 3.6 0 8s3.6 8 8 8s8-3.6 8-8s-3.6-8-8-8z"
    ></path><path
      fill="currentColor"
      d="M4 7h2v2H4V7zm3 0h2v2H7V7zm3 0h2v2h-2V7z"></path></svg
  >
</button>

<aside>
  <button class="close-btn"
    ><svg
      xmlns="http://www.w3.org/2000/svg"
      width="50"
      height="50"
      viewBox="0 0 16 16"
      ><path
        fill="currentColor"
        d="M8 1c3.9 0 7 3.1 7 7s-3.1 7-7 7s-7-3.1-7-7s3.1-7 7-7zm0-1C3.6 0 0 3.6 0 8s3.6 8 8 8s8-3.6 8-8s-3.6-8-8-8z"
      ></path><path
        fill="currentColor"
        d="M12.2 10.8L9.4 8l2.8-2.8l-1.4-1.4L8 6.6L5.2 3.8L3.8 5.2L6.6 8l-2.8 2.8l1.4 1.4L8 9.4l2.8 2.8z"
      ></path></svg
    ></button
  >
  <div class="toc">
    <div class="main-thought">{OneWorld.name}</div>
    <a class="sub-thought" href={`#${slugify(OneWorld.arms.name)}`}>
      {OneWorld.arms.name}
    </a>
    <a class="sub-thought" href={`#${slugify(OneWorld.leftLeg.name)}`}>
      {OneWorld.leftLeg.name}
    </a>
    <a class="sub-thought" href={`#${slugify(OneWorld.rightLeg.name)}`}>
      {OneWorld.rightLeg.name}
    </a>
    <Divider icon="+" size="40px" />
    <div class="main-thought">{OneBudget.name}</div>
    <a class="sub-thought" href={`#${slugify(OneBudget.arms.name)}`}>
      {OneBudget.arms.name}
    </a>
    <a class="sub-thought" href={`#${slugify(OneBudget.leftLeg.name)}`}>
      {OneBudget.leftLeg.name}
    </a>
    <a class="sub-thought" href={`#${slugify(OneBudget.rightLeg.name)}`}>
      {OneBudget.rightLeg.name}
    </a>
    <Divider icon="+" size="40px" />
    <div class="main-thought">
      {OneCurrency.name}
    </div>
    <a class="sub-thought" href={`#${slugify(OneCurrency.arms.name)}`}>
      {OneCurrency.arms.name}
    </a>
    <a class="sub-thought" href={`#${slugify(OneCurrency.leftLeg.name)}`}>
      {OneCurrency.leftLeg.name}
    </a>
    <a class="sub-thought" href={`#${slugify(OneCurrency.rightLeg.name)}`}>
      {OneCurrency.rightLeg.name}
    </a>
    <Divider icon="=" size="40px" />
    <div class="main-thought">{OneMindset.name}</div>
    <a class="sub-thought" href={`#${slugify(OneMindset.arms.name)}`}>
      {OneMindset.arms.name}
    </a>
    <a class="sub-thought" href={`#${slugify(OneMindset.leftLeg.name)}`}>
      {OneMindset.leftLeg.name}
    </a>
    <a class="sub-thought" href={`#${slugify(OneMindset.rightLeg.name)}`}>
      {OneMindset.rightLeg.name}
    </a>
  </div>
</aside>
<style>
  .toc {
    text-align: center;
    padding-top: 30px;
  }
  a {
    display: block;
    color: white;
    text-decoration: underline;
  }
  .main-thought {
    font-weight: 600;
    font-size: 150%;
    padding-top: 15px;
    padding-bottom: 5px;
  }

  .sub-thought {
    font-weight: 100;
    padding-bottom: 10px;
    font-size: 125%;

    text-underline-offset: 4px;
  }

  .close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }

  #toc-btn {
    position: fixed;
    bottom: 50%;
    right: 20px;
    border-radius: 50%;
    cursor: pointer;
  }

  aside {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 270px;
    padding: 20px;
    padding-top: 60px;
    padding-left: 25px;
    background-color: black;
    color: white;
    display: none;
  }
</style>
<script>
  const om = document.querySelector("#one-mindset") as HTMLDivElement;
  const tocBtn = document.querySelector("#toc-btn") as HTMLButtonElement;
  const scrollTopSVG = document.querySelector(".scroll-top-svg") as HTMLElement;
  const closeBtn = document.querySelector(".close-btn") as HTMLButtonElement;
  const aside = document.querySelector("aside") as HTMLDivElement;

  closeBtn.addEventListener("click", () => {
    aside.style.display = "none";
    scrollTopSVG.style.color = "black";
  });

  tocBtn.addEventListener("click", () => {
    aside.style.display = "flex";
    scrollTopSVG.style.color = "white";
  });

  document.addEventListener("scroll", () => {
    const observer = new IntersectionObserver(
      (entries: IntersectionObserverEntry[]) => {
        entries[0].intersectionRatio === 0
          ? (tocBtn.style.display = "flex")
          : (tocBtn.style.display = "none");
      }
    );
    observer.observe(om);
  });
</script>
